

/* This is a fixed Layout (1920x1080) - 20 px for scrollbar width

    Zoom out on smaller devices

    Compare Browser Version with the "Desired Result.png"
*/


/* Differences still present
    - font is slightly different
    - select tag arrow is different
*/


* {
    margin:0px;
    padding:0px;
}
.compare-text{
    display:block;
    text-align:center;
    margin:200px 0 100px 0;
}
.total-width{
    width:1920px;
}

.no-overflow{
    overflow: hidden;
}

.font-family
{
    font-family: 'Roboto', sans-serif;
    font-size:15px;
}

/*Header*/
.header-style {
    background-color:#1B325F;
    padding:15px 0 15px 255px;
}

.header-text-style{
    letter-spacing: 0;
    color:white;
    font-weight: 400;
}

.header-first-img-style {
    margin-left:305px;
    margin-right:10px;
}

.header-second-img-style {
    margin-left:91px;
    margin-right:10px;
    position: relative;
    top:3px;
}

/*Navigation*/
.nav-style{
    padding:12px 0 19px 0;
    overflow:hidden;
}
.logo-style{
    float:left;
    margin-left:375px;   
}

.ul-style{
    display:block;
    list-style: none;
    margin-left:704px;
    margin-top:38px;
    
    
}
.navigation-text-style {
    color: #333333;
    letter-spacing: 0.09px;
    text-decoration: none;
    display:inline-block;
    margin-left:31px;
    font-weight: 500;
}

.li-style {
    display:inline;
    
}

.showcase-style{
    background-image: url("./assets/Home-img.jpg");
    height:875px;
    background-repeat: no-repeat;
    background-position:-0px -65px; 
}

.main-title-style{
    font-weight:500;
    font-size: 65px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom:30px;
}

.secondary-title-style{
    font-weight:400;
    font-size: 23px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 34px;
    margin-bottom:30px;
}

.btn-style{
    padding:13px 29px;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: -0.03px;
    background-color: #1B325F;
    border-radius: 2px;
    border:none;
}

.showcase-content-container{
    width:490px;
    overflow: hidden;
    margin-left:1038px;
    padding-top:56px;
    text-align:right;
}

.form-style {
    padding:41px 20px 46px 20px;
    width:331px;
    height:452px;
    background-color: white;
    text-align: center;
    position: absolute;
    left:1160px;
    top:575px;
    margin-bottom:89px;
    -webkit-box-shadow: 14px 30px 0px 0px rgba(242,108,79,1);
    -moz-box-shadow: 14px 30px 0px 0px rgba(242,108,79,1);
    box-shadow: 14px 30px 0px 0px rgba(242,108,79,1);

}
.form-title-style{    
    font-weight: 700;
    font-size: 20px;
    color: #1B325F;
    letter-spacing: -0.03px;
    margin-bottom:46px;

}
.form-input-style {
    display: inline-block;
    background-color: #E9F2F9;
    border:none;
    margin:10px 0;
    padding:8px 9px 12px 9px;
    font-size: 15px;
    color: #666666;
    letter-spacing: -0.02px;
    width:calc(100% - 20px);
    font-family:inherit;
    resize: none;
}

.form-select-style {
    display: inline-block;
    width:100%
}


.form-btn-style {
    padding:13px 51px;
    margin-top:20px;
    float: right;
}